/* Header.scss */
.content {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 阴影效果
  border-bottom: 1px solid #eee; // 下边框
  display: flex;
  align-items: center;
}

.w1200 {
  width: 1200px;
}