.bg-col-1 {
	background-color: $color1;
}
.bg-col-2 {
	background-color: $color2;
}
.bg-col-3 {
	background-color: $color3;
}
.bg-col-7 {
	background-color: $color7;
}
.bg-col-10 {
	background-color: $color10;
}
.bg-col-11 {
	background-color: $color11;
}
.bg-col-12 {
	background-color: $color12;
}
.bg-col-13 {
	background-color: $color13;
}
.bg-col-14 {
	background-color: $color14;
}
.bg-col-15 {
	background-color: $color15;
}
.bg-col-18 {
	background-color: $color18;
}
.bg-col-20 {
	background-color: $color20;
}
.bg-main-col {
	background-color: $mainColor;
}
.bg-main-col_8 {
	background-color: rgba(41, 88, 204, .8);
}
.bg-col-ffb400 {
	background-color: #ffb400;
}
.bg-col-transparent {
	background-color: transparent;
}
.bg-col-green {
	background-color: $tiffany;
}