// 生成1-100的偶数高度
@for $i from 1 through 1000 {
	@if $i%2 == 0 {
    .h-#{$i} {
			height: #{$i}px;
		}
  }
}
@for $i from 1 through 500 {
	@if $i%2 == 0 {
    .min-h-#{$i} {
			min-height: #{$i}px;
		}
  }
}
@for $i from 1 through 500 {
	@if $i%2 == 0 {
    .max-h-#{$i} {
			max-height: #{$i}px;
		}
  }
}
@for $i from 1 through 200 {
	@if $i%2 == 0 {
    .h-#{$i}p {
			height: #{$i}+'%';
		}
  }
}
@for $i from 1 through 1000 {
	@if $i%2 == 0 {
    .h-calc-#{$i} {
			height: calc(100% - #{$i}px);
		}
  }
}
@for $i from 1 through 100 {
	@if $i%2 == 0 {
		.h-#{$i}vh {
			height: #{$i}+'vh';
		}
  }
}
@for $i from 1 through 1000 {
	@if $i%2 == 0 {
		.vh-calc-#{$i} {
			height: calc(100vh - #{$i}px);
		}
	}
}
.h-300 {
	height: 300px;
}
.h-100p_i {
	height: 100% !important;
}
.h-100p {
	height: 100%;
}
.h-60vh {
	height: 60vh;
}
.h-100vh {
	height: 100vh;
}
.max-h-320 {
	max-height: 320px;
}

.h-calc-30 {
	height: calc(100% - 30px);
}
.h-calc-38 {
	height: calc(100% - 38px);
}
.h-calc-40 {
	height: calc(100% - 40px);
}
.h-calc-48 {
	height: calc(100% - 48px);
}
.h-calc-58 {
	height: calc(100% - 58px);
}
.h-calc-64 {
	height: calc(100% - 64px);
}
.h-calc-70 {
	height: calc(100% - 70px);
}
.h-calc-138 {
	height: calc(100% - 138px);
}
.h-calc-144 {
	height: calc(100% - 144px);
}
.h-calc-170 {
	height: calc(100% - 170px);
}
.h-calc-180 {
	height: calc(100% - 180px);
}


.vh74-calc-128 {
	height: calc(74vh - 1500px);
}

.max-h-300 {
	max-height: 300px;
}
.max-h-50vh {
	max-height: 50vh;
}
.max-h-calc-70 {
	max-height: calc(100% - 700px);
}
.max-h-calc-120 {
	max-height: calc(100% - 120px);
}
.min-h-42 {
	min-height: 42px;
}